// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    .posts {
	
	.post_entry {
		border: 2px solid #F6F6F6;
		padding: 20px;
		width: 95%;

	}
	.post_image {
		img {
			display: block;
			float: left;
			width: 60%;
			height: auto;
		}
	}
	.post_title {
		text-align: left;
		

	}
	.post_content {
		font-size: 1.1em;
	}
	a:hover {
		background: #fff;
	}
	.author_ref {
		font-size: 0.75em;
	}
}