// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
	.field_with_errors {
		background: #fff;
		display: inline-block;
		border: 1px solid rgba(235, 64, 51, 0.5);
		margin: 5px;
		box-shadow: 2px 2px 2px 2px rgba(235, 64, 51, 0.5)
	}
	a:hover {
		background: #fff;
	}
	.user_entry {
		border: 1px solid #F6F6F6;
		padding: 10px;

		img {
			border: 1px solid #F6F6F6;
			box-shadow: -2px -2px 1px #F6F6F6;
		}
	}
	.user_entry_description {
		padding-top: 40px;
		list-style-image: url('http://www.mymobile.co.in/img1/li-icon.jpg');

		li {
			padding-top: 5px;
		}
	}
}